body{
  margin:0;
}
a{
  text-decoration: none;
  border-color: black;
}

h1{
  text-align: center;
  text-decoration: none;
  border-color: black;
  border-bottom:1px solid gray;
  margin:0;
  padding:20px;
}

ul{
  border-right:1px solid gray;
  width:150px;
  margin:0;
}


#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}

#grid ul{
  padding-top:0px;
  padding-left:40px;
}

#article{
  padding-left:80px;
}

@media(max-width:800px){
  #grid{
    display: block;
  }
  ol{
    border-right:none;
  }
  h1{
    border-bottom:1px solid gray;
  }
}
